body {
  margin: 0;
  padding: 0;
  background: #ccc;
  font-family: 'Oxygen';
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
}
 
.nav ul {
  list-style: none;
  background-color: #7c8783;
  /*background: -webkit-linear-gradient(#6633cc,#393185);*/
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: bold;
  box-shadow: 0px 5px 10px #4d4d4d;
}

.nav li {
  /*font-family: 'Helvetica', Arial;*/
  /*font-size: 3em;*/
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #adadeb;
  color: #444;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
}
