.data {
	width: auto;
}

.data ul {
	margin-top: 70px;
	list-style-type: none;
}

.data ul li {
	display: inline-block;
}

#logo {
	margin-left: 290px;
	/*width: 500px;*/
}

#logo img {
	width: 30%;
	height: 30%;
}

#entry {
	z-index: 80;
	font-size: 135%;
	position: relative;
	width: 22em;
	word-wrap: break-word;
	/*border: 2px solid black;*/
	top: -300px;
	/*float: right;*/
	left: 50%;
	/*margin-bottom: 50px;*/
	/*bottom: 250px;*/
	/*top: -80%;*/
	/*right: 0px;*/
	/*width: 100%;*/
}

#entry h2 {
	line-height: 80%;
	margin-left: 145px;
	margin-top: -5px;
}

form {
	position: relative;
	margin-left: 35%;
	margin-top: -11%;
}

input[type=text] {
    width: 30%;
    /*box-sizing: border-box;*/
    /*border: 2px solid #ccc;*/
    /*border: solid 5px #969696;*/
    border: solid 5px #8c8c8c;
 	transition: border 0.3s;
    border-radius: 4px;
    font-size: 180%;
    background-color: white;
    background-image: url('srcicon.png');
    background-position: 8px 8px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 55px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type="text"]:focus {
    border: solid 5px #404040;
    width: 38%;
}

/*
input:placeholder-shown {
  border: 5px solid #404040;
  margin-left: 5px; 
}*/