body {
  margin: 0;
  padding: 0;
  background: #ccc;
  font-family: 'Oxygen';
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
}
 
.nav ul {
  list-style: none;
  background-color: #7c8783;
  /*background: -webkit-linear-gradient(#6633cc,#393185);*/
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: bold;
  box-shadow: 0px 5px 10px #4d4d4d;
}

.nav li {
  /*font-family: 'Helvetica', Arial;*/
  /*font-size: 3em;*/
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #adadeb;
  color: #444;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
}

.data {
	width: auto;
}

.data ul {
	margin-top: 70px;
	list-style-type: none;
}

.data ul li {
	display: inline-block;
}

#logo {
	margin-left: 290px;
	/*width: 500px;*/
}

#logo img {
	width: 30%;
	height: 30%;
}

#entry {
	z-index: 80;
	font-size: 135%;
	position: relative;
	width: 22em;
	word-wrap: break-word;
	/*border: 2px solid black;*/
	top: -300px;
	/*float: right;*/
	left: 50%;
	/*margin-bottom: 50px;*/
	/*bottom: 250px;*/
	/*top: -80%;*/
	/*right: 0px;*/
	/*width: 100%;*/
}

#entry h2 {
	line-height: 80%;
	margin-left: 145px;
	margin-top: -5px;
}

form {
	position: relative;
	margin-left: 35%;
	margin-top: -11%;
}

input[type=text] {
    width: 30%;
    /*box-sizing: border-box;*/
    /*border: 2px solid #ccc;*/
    /*border: solid 5px #969696;*/
    border: solid 5px #8c8c8c;
 	transition: border 0.3s;
    border-radius: 4px;
    font-size: 180%;
    background-color: white;
    background-image: url('srcicon.png');
    background-position: 8px 8px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 55px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type="text"]:focus {
    border: solid 5px #404040;
    width: 38%;
}

/*
input:placeholder-shown {
  border: 5px solid #404040;
  margin-left: 5px; 
}*/